.container {
	width: 30rem;
	height: 12rem;
	border-radius: 1.5rem;
	background: linear-gradient(0deg, #cbf900 0%, #cbf900 100%), linear-gradient(0deg, #cbf900 0%, #cbf900 100%), #cbf900;
	margin: 2%;
}

.tweetandimg {
	height: 40%;
	padding-block: 2rem;
	padding-inline: 3rem;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.tweet {
	width: 80%;
}

.description {
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	color: #181818;
}

.img {
	width: 20%;
	display: flex;
	justify-content: center;
	box-sizing: content-box;
}

.img-container {
	width: 4.03388rem;
	height: 4.45694rem;
	border-radius: 50%;
	overflow: hidden;
}
.img-post {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.infoUser {
	height: 30%;
	border-radius: 0rem 0rem 1.5rem 1.5rem;
	background: linear-gradient(0deg, rgba(47, 96, 233, 0.2) 0%, rgba(47, 96, 233, 0.2) 100%),
		linear-gradient(0deg, #cbf900 0%, #cbf900 100%), #cbf900;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	align-items: center;
	padding-inline: 2rem;
}
.username {
	color: #181818;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
}
